.thumbnail-item {
  width: 20%;
  height: 150px;
  margin-bottom: 5px;
}

.thumbnail-button {
  height: 98%;
  width: 98%;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.thumbnail-image {
  width: 100%;
  height: 100%;
}
